<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>GMUN IIEST - Admin Login</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
</head>

<body class="bg-dark">
    <div class="container text-center">
        <center>
            <div class="row justify-content-center mt-5" style="max-width: 400px;">
                <div class="p-5">
                    <div class="text-center">
                        <h4 class="mb-4" style="color: white;">Welcome Admin!</h4>
                    </div>
                    <form class="user" action="/adminlogin" method="post">
                        <div class="mb-3"><input class="form-control form-control-user" type="text" id="username" placeholder="Enter Username" name="username" required></div>
                        <div class="mb-3"><input class="form-control form-control-user" type="password" id="password" placeholder="Password" name="password" required></div>

                        <button class="btn btn-primary d-block btn-user w-100" style="border-radius: 5px;" type="submit">Login</button>
                        <br>
                        <a class="btn btn-primary d-block btn-user w-100" style="border-radius: 5px;" href="/">Back to GMUN Website</a>
                    </form>
                    <br>
                    </div>
            </div>
        </center>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>