<option value="Narendra Modi - Varanasi (BJP)" selected>Narendra Modi - Varanasi (BJP)</option>
<option value="Amit Shah - Gandhinagar (BJP)">Amit Shah - Gandhinagar (BJP)</option>
<option value="Nitin Gadkari - Nagpur (BJP)">Nitin Gadkari - Nagpur (BJP)</option>
<option value="Rajnath Singh - Lucknow (BJP)">Rajnath Singh - Lucknow (BJP)</option>
<option value="Ravi Shankar Prasad - Patna Sahib (BJP)">Ravi Shankar Prasad - Patna Sahib (BJP)</option>
<option value="Smriti Irani - Amethi (BJP)">Smriti Irani - Amethi (BJP)</option>
<option value="Om Birla - Kota (BJP)">Om Birla - Kota (BJP)</option>
<option value="Sunny Deol - Gurdaspur (BJP)">Sunny Deol - Gurdaspur (BJP)</option>
<option value="Giriraj Singh - Begusarai (BJP)">Giriraj Singh - Begusarai (BJP)</option>
<option value="Jamyang Tsering Namgyal - Ladakh (BJP)">Jamyang Tsering Namgyal - Ladakh (BJP)</option>
<option value="Varun Gandhi - Pilibhit (BJP)">Varun Gandhi - Pilibhit (BJP)</option>
<option value="Kirron Kher - Chandigarh (BJP)">Kirron Kher - Chandigarh (BJP)</option>
<option value="Rahul Gandhi - Wayanad (INC)">Rahul Gandhi - Wayanad (INC)</option>
<option value="Shashi Tharoor - Thiruvananthapuram (INC)">Shashi Tharoor - Thiruvananthapuram (INC)</option>
<option value="Adhir Ranjan Chowdhury - Berhampore (INC)">Adhir Ranjan Chowdhury - Berhampore (INC)</option>
<option value="Nakul Kamal Nath - Chhindwara (INC)">Nakul Kamal Nath - Chhindwara (INC)</option>
<option value="Gourav Gogoi - Kaliabor (INC)">Gourav Gogoi - Kaliabor (INC)</option>
<option value="Kanimozhi Karunanidhi - Thoothukkudi (DMK)">Kanimozhi Karunanidhi - Thoothukkudi (DMK)</option>
<option value="Dayanidhi Maran - Chennai Central (DMK)">Dayanidhi Maran - Chennai Central (DMK)</option>
<option value="Supriya Sule - Baramati (NCP)">Supriya Sule - Baramati - NCP</option>
<option value="Shatrughan Sinha - Asansol (AITC)">Shatrughan Sinha - Asansol (AITC)</option>
<option value="Asaduddin Owaisi - Hyderabad (AIMIM)">Asaduddin Owaisi - Hyderabad (AIMIM)</option>
<option value="Imtiyaz Jaleel - Aurangabad (AIMIM)">Imtiyaz Jaleel - Aurangabad (AIMIM)</option>
<option value="Farooq Abdullah - Srinagar (JKNC)">Farooq Abdullah - Srinagar (JKNC)</option>
<option value="Chirag Paswan - Jamui (LJP)">Chirag Paswan - Jamui (LJP)</option>
