<option value="Brazil">Brazil</option>
<option value="Canada">Canada</option>
<option value="China">China</option>
<option value="Ecuador">Ecuador</option>
<option value="France">France</option>
<option value="Germany">Germany</option>
<option value="India" selected>India</option>
<option value="Indonesia">Indonesia</option>
<option value="Iran">Iran</option>
<option value="Iraq">Iraq</option>
<option value="Israel">Israel</option>
<option value="Italy">Italy</option>
<option value="Japan">Japan</option>
<option value="Latvia">Latvia</option>
<option value="Mexico">Mexico</option>
<option value="Myanmar">Myanmar</option>
<option value="Pakistan">Pakistan</option>
<option value="Poland">Poland</option>
<option value="Russia">Russia</option>
<option value="Saudi Arabia">Saudi Arabia</option>
<option value="South Africa">South Africa</option>
<option value="Spain">Spain</option>
<option value="Switzerland">Switzerland</option>
<option value="Syria">Syria</option>
<option value="Ukraine">Ukraine</option>
<option value="United Kingdom">United Kingdom</option>
<option value="United States of America">United States of America</option>